
.class-section{
    background-image: url(../../assets/classesSection/pexels-suvan-chowdhury-144429.jpg);
    background-repeat: no-repeat;

    background-size: cover;
    box-shadow: 30px 30px 30px black;
    
}