.instructor-section{
    background-image: url(../../assets/TeacherSection/pexels-davis-sánchez-3916376.jpg);
    background-repeat: no-repeat;

    background-size: cover;

     box-shadow: 30px 30px 30px black;
    
}